<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>598183956746-0sc5tpsvp60nhheng2q4dda1s65fc29v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598183956746-0sc5tpsvp60nhheng2q4dda1s65fc29v</string>
	<key>API_KEY</key>
	<string>AIzaSyAs0rxJMLcdzVrbE_CUYQ5b5YQ9vAqbS3c</string>
	<key>GCM_SENDER_ID</key>
	<string>598183956746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlexeyDovgan.CoinPulse</string>
	<key>PROJECT_ID</key>
	<string>coinpulse-9fe84</string>
	<key>STORAGE_BUCKET</key>
	<string>coinpulse-9fe84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598183956746:ios:e8efb5f4d381f29a</string>
	<key>DATABASE_URL</key>
	<string>https://coinpulse-9fe84.firebaseio.com</string>
</dict>
</plist>